body {
	text-align: center;
	/*word-wrap: break-word*/
}

h1 {
	text-align: center;
}

.detail {
	margin-left: 2em;
	/*max-width: 75%;*/
}

.button {
	border: 1px solid #888888;
	display: inline-block;
	border-radius: 3px;
	padding: 3px;
	cursor: pointer;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:link {
	color: inherit;
	text-decoration: none;
}

.button:visited {
	color: inherit;
	text-decoration: none;
}

.button:hover {
	border: 1px solid #bbbbbb;

}

.button:active {
	background-color: #887766;
}

.no_margin {
	margin: 0;
}

.no_padding {
	padding: 0;
}

.chapter {
	margin-top: 2em;
	margin-bottom: 2em;

}

.chapter > div {
	margin-left: 1em;
}

.code {
	font-family: monospace;
	color:#000;
	background-color: #EEE;
	padding:1em;
}

#main {
	text-align: left;
	max-width: 800px;
	margin: 0 auto;
}
